/* 去掉浏览器默认的外边距和内边距 */
/* 公共的样式 */
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
/* topbar开始 */
.topbar{
    height:40px;
    line-height: 40px;
    background-color:#333; 
}
.wrapper{
    width: 1200px;
    height: 40px;
    /* background: pink; */
    /* 两个值的时候 第一个代表垂直方向的margin 第二个水平 */
    /* auto 自适应 */
    margin:0px auto;
}
.topbar-list li{
    float: left;
    height: 40px;
}
.topbar a{
    /* 去掉下划线 */
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.topbar a:hover{
    color:#999;
}
.topbar span{
    color: #fff;
    margin: 0 3px;
    font-size:12px;
}
.topbar-list{
    /* 解决子元素浮动带来的塌陷问题 */
    overflow: hidden;
    float: left;
}
.topbar-login{
    float: right;
}
.topbar-login li{
    float: left;
}

/* topbar结束*/
/* header 开始 */
.header{
    width: 1200px;
    /* background: pink; */
    height: 100px;
    margin:0 auto;
}
.header-logo{
    float: left;
    padding-top:24px;
}
.header-logo img{
    width: 187px;
    height: 55px;
}

.header-list{
    float:right;
    padding-top: 35px;
}
.header-list li{
    float: left;
    font-size: 18px;
    /*内边距 （边框和内容之间的间距） 上 右 下 左 */
    padding: 0 22px 0 23px;
}
/* header 结束 */
/* banner开始 */
.banner{
    height: 640px;
    /* background: red; */

    /* background-color:red;
    background-image:url('images/banner.jpg'); */
    /* 背景图片的位置 
     第一个参数水平位置 (某个值 或 left center right) 
      第二个参数控制垂直位置 (某个值  top center bottom) */
    /* background-position: 100px 200px;

    background-repeat: no-repeat; */
    /* 推荐用下边的简写方式 */
    /* background: red  url('images/banner.jpg') 100px 200px no-repeat; */

    background: url('images/banner.jpg') center 0;
}
.banner h2{
    font-size: 54px;
    color:#fff;
    /* 字体粗细 */
    font-weight: 300;
    /* 文字水平居中 */
    text-align: center;
    padding-top:193px;
    padding-bottom: 30px;
}
.btn{
     /* 文字水平居中 */
    text-align: center;
}
/* 
line 行级元素  1多个元素占一行 2不能设置宽高 
a span
block 块级元素 1 自己占一行 2可以设置宽高
div h1-h6 p ul li
inline-block 行级块元素  1多个元素占一行 2可以设置宽高 
img

display:block inline inline-block;
*/
.btn a{
    font-size: 24px;
    color: #fff;
    /* 去掉下划线 */
    text-decoration: none;
    width: 260px;
    height: 55px;
    /* 文本垂直居中 line-height=height */
    line-height:55px;
    display: inline-block;
    background: #F93F2B;
    /* css3 css新语法 边框圆角 */
    border-radius: 8px;
}
/* banner结束 */







